@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
}

@layer components {
  .button {
    @apply border px-5 md:px-10 py-2.5 rounded font-semibold transition duration-200 ease-out;
  }
}


.profile-photo{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.right{
  margin-top: 1.4rem;
}

.right .top{
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.right .top button{
  display: none;
}

.right .theme-toggler{
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.right .theme-toggler span{
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .theme-toggler span.active{
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}

.right .top .profile{
  display: flex;
  gap: 2rem;
  text-align: right;
}
