.right{
    margin-top: 1.4rem;
  }
  
  .right .top{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }
  
  .right .top button{
    display: none;
  }
  
  .right .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
  }
  
  .right .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right .theme-toggler span.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
  }
  
  .right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
  }
  


/* ============= RECENT UPDATES ==============*/
.right .recent-updates{
    margin-top: 1rem;
}

.right .recent-updates h2{
    margin-bottom: 0.8rem;
}


.right .recent-updates .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ===================== SALES ANALYTICS ==================== */

.right .sales-analytics {
    margin-top: 2rem;
}

.right .sales-analytics h2{
    margin-bottom: 0.8rem;
}

.right .sales-analytics .item{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
}



.right .sales-analytics .item .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}


.right .sales-analytics .item .icon{
    font-size: 24px;
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.right .sales-analytics .item.offline .icon{
    background: var(--color-danger);
}

.right .sales-analytics .item.customers .icon{
    background: var(--color-success);
}

.right .sales-analytics .add-product{
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .sales-analytics .add-product div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .sales-analytics .add-product h3{
    font-weight: 600;
}


  /* ===================== MEDIA QUERIES SMARTPHONES ======================*/
  
  @media screen and (max-width: 768px) {

  
    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }
  
    .right .top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }
  
    .right .top .theme-toggler{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }
  
    .right .profile .info{
        display: none;
    }
  
    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }
  
    .right .top button span{
        font-size: 2rem;
    }
  
    .right .sales-analytics {
        display: none;
    }

    .right .recent-updates{
        display: none;
    }

  }